
@media only screen and (max-width: 800px) {
    header {
        margin: 10px;
        width: 97%;
    }

    .input-items>input {
        width: 17rem;
        height: 3rem;
    }

    .input-items button {
        height: 3rem;
    }

    .recipes-cards-container {
        margin-top: 2rem;
    }

    .recipe-card {
        height: 20rem;
        width: 40%;
        margin: 1rem;
        
    }
}


@media only screen and (max-width: 520px) {
    header {
        margin: 10px;
        width: 97%;
    }

    .input-items>input {
        width: 17rem;
        height: 3rem;
    }

    .input-items button {
        height: 3rem;
    }

    .recipes-cards-container {
        margin-top: 2rem;
    }

    .recipe-card {
        height: 20rem;
        width: 80%;
        margin: 0 0 1rem 0;
    }

}