* {
    margin: 0;
    padding: 0;
    font-family: var(--standard-font);

}

:root {
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
    --white: #fff;
    --dark: #000;
    --light-font: 'Zen Loop', cursive;
    --heading-font: 'roboto', monospace;
    --standard-font: 'Raleway', sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: var(--white);

}
/* start heading section */
header {
    width: 100%;
    min-height: 15rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 2rem;
}

header p {
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
}

header .signature {

    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
}

.input-items {
    position: relative;
}

.input-items>input {
    width: 30rem;
    border-radius: 30px;
    height: 3rem;
    border: 1px solid var(--tenne-tawny);
    outline: none;
    padding: 1rem;
    text-align: left;
    color: var(--tenne-tawny);
    font-size: 1.2rem;
}

.input-items button {
    position: absolute;
    border-radius: 50%;
    height: 3rem;
    width: 2.5rem;
    border: 1px solid var(--tenne-tawny);
    outline: none;
    padding: 0.7rem;
    right: 0;
    background: var(--tenne-tawny);
   

}

.input-items button i {
    
    color: var(--white);
    pointer-events: none;
    display: flex;
   
}
/* end of heading section */

/* main content section */
.search-results {
    background: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.feedback-title {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.recipes-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 0rem;
    padding: 1rem;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.recipe-card {
    height: 22rem;
    width: 22%;
    background: var(--white);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
.recipe-card:hover{
cursor: pointer;
} 

.recipe-card img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.recipe-card h4 {
    font-size: 1rem;
    font-family: var(--heading-font);
    margin-top: 5px;
}

.recipe-card button {
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 2px;
    width: 8rem;
    border-radius: 15px;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--tenne-tawny);
    color: var(--white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease;

}

.recipe-card button:hover  {
    box-shadow: 0 8px 6px -6px black;
}

.card-description {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

/* beginning of modal */
.modal-content{
    background: var(--tenne-tawny);
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 80vh;
}
.recipe-popup{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px
}
.recipe-popup h1{
    font: size 1.1rem;
}
.btn-close{
    position: absolute;
    top: 13px;
    right: 13px;
    z-index: 10;
    margin: 10px;
}
.food-namebtn{
    background: var(--white);
    color: var(--tenne-tawny);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 10px;
    font-weight: bold;
    font-size: 1rem;
}
.rouded-recipe-image{
    border-radius:50%;
    width:10rem;
    height: 10rem;
    margin: 10px;
}
.food-name{
    font-family: var(--heading-font);
    color: var(--white);
    margin-top: 30px;
    margin-top: 30px;
}
.recipe-popup h6{
    font-size: 1.5rem;
    color: var(--white);
}
.recipe-instructions{
    color: var(--white);
    font-size: 1rem;
}
.recipe-popup a{
    color: var(--white);
}
/* end of modal  */

/* new nav */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* end of scrollbar */